In [105]:
import pandas as pd
import os
pd.set_option('display.max_columns', 200)

In [1]:
os.getcwd()

'/Users/macintosh/github/predict_student_performance_from_game_play'

In [44]:
train_csv = '/Users/macintosh/Desktop/data_completitions/Kaggle/2023/predict-student-performance-from-game-play/train.csv'
df_train = pd.read_csv(train_csv, dtype_backend = 'pyarrow')

In [45]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26296946 entries, 0 to 26296945
Data columns (total 20 columns):
 #   Column          Dtype
---  ------          -----
 0   session_id      int64[pyarrow]
 1   index           int64[pyarrow]
 2   elapsed_time    int64[pyarrow]
 3   event_name      string[pyarrow]
 4   name            string[pyarrow]
 5   level           int64[pyarrow]
 6   page            double[pyarrow]
 7   room_coor_x     double[pyarrow]
 8   room_coor_y     double[pyarrow]
 9   screen_coor_x   double[pyarrow]
 10  screen_coor_y   double[pyarrow]
 11  hover_duration  double[pyarrow]
 12  text            string[pyarrow]
 13  fqid            string[pyarrow]
 14  room_fqid       string[pyarrow]
 15  text_fqid       string[pyarrow]
 16  fullscreen      int64[pyarrow]
 17  hq              int64[pyarrow]
 18  music           int64[pyarrow]
 19  level_group     string[pyarrow]
dtypes: double[pyarrow](6), int64[pyarrow](7), string[pyarrow](7)
memory usage: 5.4 GB

In [31]:
df_train.head()

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,0,0,cutscene_click,basic,0,<NA>,-413.991405,-159.314686,380.0,494.0,<NA>,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0,0,1,0-4
1,20090312431273200,1,1323,person_click,basic,0,<NA>,-413.991405,-159.314686,380.0,494.0,<NA>,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
2,20090312431273200,2,831,person_click,basic,0,<NA>,-413.991405,-159.314686,380.0,494.0,<NA>,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
3,20090312431273200,3,1147,person_click,basic,0,<NA>,-413.991405,-159.314686,380.0,494.0,<NA>,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
4,20090312431273200,4,1863,person_click,basic,0,<NA>,-412.991405,-159.314686,381.0,494.0,<NA>,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4

In [34]:
df_train.duplicated(subset=['session_id', 'event_name', 'elapsed_time']).sum()

26044185

In [36]:
df_train.loc[df_train.duplicated(subset=['session_id', 'event_name'])].head()

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
2,20090312431273200,2,831,person_click,basic,0,<NA>,-413.991405,-159.314686,380.0,494.0,<NA>,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
3,20090312431273200,3,1147,person_click,basic,0,<NA>,-413.991405,-159.314686,380.0,494.0,<NA>,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
4,20090312431273200,4,1863,person_click,basic,0,<NA>,-412.991405,-159.314686,381.0,494.0,<NA>,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
5,20090312431273200,5,3423,person_click,basic,0,<NA>,-412.991405,-157.314686,381.0,492.0,<NA>,"Sure thing, Jo. Grab your notebook and come up...",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
6,20090312431273200,6,5197,person_click,basic,0,<NA>,478.485079,-199.971679,593.0,485.0,<NA>,"See you later, Teddy.",teddy,tunic.historicalsociety.closet,tunic.historicalsociety.closet.teddy.intro_0_cs_0,0,0,1,0-4

In [38]:
df_train.query('session_id == 20090312431273200 & event_name == "person_click"').head()

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
1,20090312431273200,1,1323,person_click,basic,0,<NA>,-413.991405,-159.314686,380.0,494.0,<NA>,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
2,20090312431273200,2,831,person_click,basic,0,<NA>,-413.991405,-159.314686,380.0,494.0,<NA>,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
3,20090312431273200,3,1147,person_click,basic,0,<NA>,-413.991405,-159.314686,380.0,494.0,<NA>,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
4,20090312431273200,4,1863,person_click,basic,0,<NA>,-412.991405,-159.314686,381.0,494.0,<NA>,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
5,20090312431273200,5,3423,person_click,basic,0,<NA>,-412.991405,-157.314686,381.0,492.0,<NA>,"Sure thing, Jo. Grab your notebook and come up...",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4

In [76]:
df_train_sample = df_train.sample(frac=0.1, random_state=1)

In [44]:
df_train.query('session_id == 20090312431273200 & event_name == "person_click"')\
    .groupby(['session_id', 'event_name'])[['session_id']]\
    .count()\
    .head()

                                session_id
session_id        event_name
20090312431273200 person_click         249

In [46]:
df_train.query('session_id == 20090312431273200 & event_name == "person_click"')\
    .duplicated(subset=['session_id', 'event_name'])\
    .sum()

248

In [95]:
df_train_sample.head()

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
2711680,20110318272339404,1451,3830801,notification_click,basic,18,<NA>,814.762007,-632.192248,547.0,522.0,<NA>,That hoofprint doesn't match the flag!,<NA>,tunic.wildlife.center,tunic.wildlife.center.tracks.hub.deer,0,0,1,13-22
25755858,22090011350114000,399,469612,navigate_click,undefined,10,<NA>,37.154153,-132.954460,220.0,432.0,<NA>,<NA>,wellsbadge,tunic.library.frontdesk,<NA>,0,0,1,5-12
8302027,21020113560402670,761,735432,navigate_click,undefined,12,<NA>,325.274551,-153.432040,851.0,413.0,<NA>,<NA>,<NA>,tunic.historicalsociety.entry,<NA>,0,0,1,5-12
22107841,22010513111563070,393,625685,person_click,basic,8,<NA>,48.671622,69.000000,440.0,261.0,<NA>,It's for Grampa Leo. He's a historian!,worker,tunic.drycleaner.frontdesk,tunic.drycleaner.frontdesk.worker.hub,1,1,1,5-12
6915280,21010313404191104,234,530579,navigate_click,undefined,6,<NA>,95.196028,7.092454,506.0,313.0,<NA>,<NA>,tocloset_dirty,tunic.historicalsociety.basement,<NA>,0,1,1,5-12

In [98]:
df_train.describe()

,session_id,index,elapsed_time,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,fullscreen,hq,music
count,26296946.0,26296946.0,26296946.0,26296946.0,564544.0,24223674.0,24223674.0,24223674.0,24223674.0,2002244.0,26296946.0,26296946.0,26296946.0
mean,-255089395419.632568,644.51024,4016693.894748,12.191686,3.166559,-54.905793,-116.211852,458.409812,385.586034,3471.003377,0.137004,0.120205,0.929378
std,571295349122928.75,545.787957,31270320.364611,6.497789,2.063291,520.292583,218.470954,247.938892,129.816557,460202.415493,0.343851,0.325201,0.256193
min,20090312431273200.0,0.0,0.0,0.0,0.0,-1992.354569,-918.162349,0.0,0.0,0.0,0.0,0.0,0.0
25%,21010216570082376.0,288.0,439700.0,6.0,1.0,-352.839501,-212.718256,269.0,304.0,99.0,0.0,0.0,1.0
50%,21040213470142500.0,595.0,1014801.0,13.0,3.0,-11.162797,-97.605339,447.0,397.0,419.0,0.0,0.0,1.0
75%,21100516321490164.0,896.0,1747040.0,18.0,5.0,296.651499,22.68786,663.0,471.0,1266.0,0.0,0.0,1.0
max,22100221145014656.0,20473.0,1988606704.0,22.0,6.0,1261.773745,543.616424,1919.0,1440.0,245163690.0,1.0,1.0,1.0

In [51]:
df_train.session_id.nunique()

23562

In [58]:
train_labels_csv = '/Users/macintosh/Desktop/data_completitions/Kaggle/2023/predict-student-performance-from-game-play/train_labels.csv'
df_train_labels = pd.read_csv(train_labels_csv, dtype_backend = 'pyarrow')

In [63]:
df_train_labels[df_train_labels['session_id'].str.contains('20090312431273200')]

                   session_id  correct
0        20090312431273200_q1        1
23562    20090312431273200_q2        1
47124    20090312431273200_q3        1
70686    20090312431273200_q4        1
94248    20090312431273200_q5        1
117810   20090312431273200_q6        1
141372   20090312431273200_q7        1
164934   20090312431273200_q8        1
188496   20090312431273200_q9        1
212058  20090312431273200_q10        1
235620  20090312431273200_q11        1
259182  20090312431273200_q12        1
282744  20090312431273200_q13        0
306306  20090312431273200_q14        1
329868  20090312431273200_q15        1
353430  20090312431273200_q16        0
376992  20090312431273200_q17        1
400554  20090312431273200_q18        1

In [64]:
23562 * 18

424116

In [65]:
df_train_labels.tail()

                   session_id  correct
424111  22100215342220508_q18        1
424112  22100215460321130_q18        1
424113  22100217104993650_q18        1
424114  22100219442786200_q18        1
424115  22100221145014656_q18        1

In [66]:
# first we need to group by in session id and question number (max 18 questions)

In [86]:
technologies = {
    'Courses':["Spark","PySpark","Python","pandas"],
    'Fee' :[20000,25000,22000,30000],
    'Duration':['30days','40days','35days','50days'],
              }
index_labels=['r1','r2','r3','r4']
df1 = pd.DataFrame(technologies,index=index_labels)

technologies2 = {
    # 'Courses':["Spark","Java","Python","Go"],
    'Courses1':["Spark","Spark","Python","Go"],
    'Discount':[2000,2300,1200,2000]
              }
index_labels2=['r1','r6','r3','r5']
df2 = pd.DataFrame(technologies2,index=index_labels2)

In [87]:
df1.head()

    Courses    Fee Duration
r1    Spark  20000   30days
r2  PySpark  25000   40days
r3   Python  22000   35days
r4   pandas  30000   50days

In [88]:
df2.head()

   Courses1  Discount
r1    Spark      2000
r6    Spark      2300
r3   Python      1200
r5       Go      2000

In [94]:
df1.merge(df2, how='left', left_on='Courses', right_on='Courses1').drop(columns=['Courses1', 'Discount'])

   Courses    Fee Duration
0    Spark  20000   30days
1    Spark  20000   30days
2  PySpark  25000   40days
3   Python  22000   35days
4   pandas  30000   50days

In [99]:
test_csv = '/Users/macintosh/Desktop/data_completitions/Kaggle/2023/predict-student-performance-from-game-play/test.csv'
df_test = pd.read_csv(test_csv, dtype_backend = 'pyarrow')

In [106]:
df_test.tail()

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group,session_level
3723,20090312331414616,1001,1581679,map_hover,basic,22,<NA>,<NA>,<NA>,<NA>,<NA>,484.0,<NA>,tunic.wildlife,tunic.historicalsociety.entry,<NA>,0,0,1,13-22,2
3724,20090312331414616,1002,1583044,map_hover,basic,22,<NA>,<NA>,<NA>,<NA>,<NA>,783.0,<NA>,tunic.capitol_2,tunic.historicalsociety.entry,<NA>,0,0,1,13-22,2
3725,20090312331414616,1003,1583410,map_click,undefined,22,<NA>,483.726363,-3.880047,456.0,332.0,<NA>,<NA>,tunic.capitol_2,tunic.historicalsociety.entry,<NA>,0,0,1,13-22,2
3726,20090312331414616,1004,1585841,navigate_click,undefined,22,<NA>,192.372139,38.216178,383.0,272.0,<NA>,<NA>,chap4_finale_c,tunic.capitol_2.hall,<NA>,0,0,1,13-22,2
3727,20090312331414616,1005,1587810,checkpoint,basic,22,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,chap4_finale_c,tunic.capitol_2.hall,<NA>,0,0,1,13-22,2

In [114]:
df_train_sample[~df_train_sample.text.isna()].head()

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
2711680,20110318272339404,1451,3830801,notification_click,basic,18,<NA>,814.762007,-632.192248,547.0,522.0,<NA>,That hoofprint doesn't match the flag!,<NA>,tunic.wildlife.center,tunic.wildlife.center.tracks.hub.deer,0,0,1,13-22
22107841,22010513111563070,393,625685,person_click,basic,8,<NA>,48.671622,69.000000,440.0,261.0,<NA>,It's for Grampa Leo. He's a historian!,worker,tunic.drycleaner.frontdesk,tunic.drycleaner.frontdesk.worker.hub,1,1,1,5-12
21857638,22010315181553172,106,324064,person_click,basic,2,<NA>,-128.159191,50.762186,331.0,293.0,<NA>,Why don't you head to the Basketball Center an...,gramps,tunic.historicalsociety.collection,tunic.historicalsociety.collection.gramps.found,0,0,1,0-4
1918698,20110209525083620,288,695241,person_click,basic,6,<NA>,-56.348501,118.000000,352.0,212.0,<NA>,I ran into Wells there this morning.,archivist,tunic.historicalsociety.frontdesk,tunic.historicalsociety.frontdesk.archivist.ha...,0,0,1,5-12
24919973,22070111534418216,684,1778619,cutscene_click,basic,13,<NA>,222.436947,-232.961833,529.0,490.0,<NA>,"I think it's a flag! Pretty interesting, huh?",ch3start,tunic.historicalsociety.basement,tunic.historicalsociety.basement.ch3start,0,0,1,13-22

In [7]:
a = '20090312431273200_q12'
a.split('_')[-1][1:]

'12'

In [14]:
import pandas as pd
submission_csv = '/Users/macintosh/Desktop/data_completitions/Kaggle/2023/predict-student-performance-from-game-play/sample_submission.csv'
# df_submission = pd.read_csv(submission_csv, dtype_backend = 'pyarrow')
df_submission = pd.read_csv(submission_csv)

In [33]:
df_submission['question'] = df_submission.session_id.apply(lambda x: x.split('_')[-1][1:])

In [40]:
#Check which session_level proper for each question for training label?
df_submission.groupby(['session_level', 'question']).count().sort_values(['session_level', 'question'])
# Result is

                        session_id  correct
session_level question
0             1                  3        3
              2                  3        3
              3                  3        3
1             10                 3        3
              11                 3        3
              12                 3        3
              13                 3        3
              4                  3        3
              5                  3        3
              6                  3        3
              7                  3        3
              8                  3        3
              9                  3        3
2             14                 3        3
              15                 3        3
              16                 3        3
              17                 3        3
              18                 3        3

In [48]:
# Change data from quanlitative to quantitative by use dummies
just_dummies = pd.get_dummies(df_train['event_name'])

In [54]:
just_dummies.tail()

,checkpoint,cutscene_click,map_click,map_hover,navigate_click,notebook_click,notification_click,object_click,object_hover,observation_click,person_click
26296941,False,False,False,False,True,False,False,False,False,False,False
26296942,False,False,False,False,True,False,False,False,False,False,False
26296943,False,False,False,False,True,False,False,False,False,False,False
26296944,False,False,False,False,True,False,False,False,False,False,False
26296945,True,False,False,False,False,False,False,False,False,False,False

In [55]:
just_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26296946 entries, 0 to 26296945
Data columns (total 11 columns):
 #   Column              Dtype
---  ------              -----
 0   checkpoint          bool
 1   cutscene_click      bool
 2   map_click           bool
 3   map_hover           bool
 4   navigate_click      bool
 5   notebook_click      bool
 6   notification_click  bool
 7   object_click        bool
 8   object_hover        bool
 9   observation_click   bool
 10  person_click        bool
dtypes: bool(11)
memory usage: 275.9 MB

In [50]:
df_train = pd.concat([df_train, just_dummies], axis=1) # set axis = 1 for concat in columns

In [51]:
df_train.head()

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,...,cutscene_click,map_click,map_hover,navigate_click,notebook_click,notification_click,object_click,object_hover,observation_click,person_click
0,20090312431273200,0,0,cutscene_click,basic,0,<NA>,-413.991405,-159.314686,380.0,...,True,False,False,False,False,False,False,False,False,False
1,20090312431273200,1,1323,person_click,basic,0,<NA>,-413.991405,-159.314686,380.0,...,False,False,False,False,False,False,False,False,False,True
2,20090312431273200,2,831,person_click,basic,0,<NA>,-413.991405,-159.314686,380.0,...,False,False,False,False,False,False,False,False,False,True
3,20090312431273200,3,1147,person_click,basic,0,<NA>,-413.991405,-159.314686,380.0,...,False,False,False,False,False,False,False,False,False,True
4,20090312431273200,4,1863,person_click,basic,0,<NA>,-412.991405,-159.314686,381.0,...,False,False,False,False,False,False,False,False,False,True

In [53]:
df_train.event_name.value_counts()

event_name
navigate_click        11326433
person_click           6052853
cutscene_click         2703035
object_click           2198211
object_hover           1057085
map_hover               945159
notification_click      649001
notebook_click          564544
map_click               517242
observation_click       212355
checkpoint               71028
Name: count, dtype: int64[pyarrow]

In [68]:
df_train_labels['question_num'] = df_train_labels.session_id.apply(lambda x: x.split('_')[-1][1:])
df_train_labels['session'] = df_train_labels.session_id.apply(lambda x: x.split('_')[0])

In [69]:
df_train_labels.head()

             session_id  correct question_num            session
0  20090312431273200_q1        1            1  20090312431273200
1  20090312433251036_q1        0            1  20090312433251036
2  20090312455206810_q1        1            1  20090312455206810
3  20090313091715820_q1        0            1  20090313091715820
4  20090313571836404_q1        1            1  20090313571836404

In [71]:
import gc
gc.collect()

0

In [124]:
# Set columns for feature engineer
count_var = ['event_name', 'fqid', 'room_fqid', 'text']
mean_var = ['elapsed_time', 'level']
event_var = ['navigate_click', 'person_click', 'cutscene_click', 'object_click', 'map_hover'
, 'notification_click', 'map_click', 'observation_click', 'checkpoint', 'elapsed_time']

In [134]:
# Aggregate feature engineer in session_id and level_group level
def feature_engineer(train):
    dfs = []
    for c in count_var:
        tmp = train.groupby(['session_id', 'level_group'])[c].agg('nunique')
        tmp.name = tmp.name + '_nunique'
        dfs.append(tmp)
    for c in mean_var:
        tmp = train.groupby(['session_id', 'level_group'])[c].agg('mean')
        tmp.name = 'avg_' + tmp.name
        dfs.append(tmp)
    for c in event_var:
        tmp = train.groupby(['session_id', 'level_group'])[c].agg('sum')
        tmp.name = 'sum_' + tmp.name
        dfs.append(tmp)
    df = pd.concat(dfs, axis=1)
    df = df.fillna(-1) # fill na with -1 
    df = df.reset_index()
    df = df.set_index('session_id')
    return df

In [163]:
# Dataframe in level session_id & level_group
df_tr = feature_engineer(df_train)

In [165]:
df_tr.dtypes

level_group               string[pyarrow]
event_name_nunique                  int64
fqid_nunique                        int64
room_fqid_nunique                   int64
text_nunique                        int64
avg_elapsed_time                  float64
avg_level                         float64
sum_navigate_click                  int64
sum_person_click                    int64
sum_cutscene_click                  int64
sum_object_click                    int64
sum_map_hover                       int64
sum_notification_click              int64
sum_map_click                       int64
sum_observation_click               int64
sum_checkpoint                      int64
sum_elapsed_time           int64[pyarrow]
dtype: object

In [166]:
ALL_USERS = df_tr.index.unique()

23562

In [177]:
# Group k Fold split data
from sklearn.model_selection import KFold, GroupKFold
import numpy as np
gkf = GroupKFold(n_splits=5)
oof = pd.DataFrame(data=np.zeros((len(ALL_USERS), 18)), index=ALL_USERS) # set all users to 18 columns as each question & set index to session_id
model = {}

In [178]:
oof.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
session_id,,,,,,,,,,,,,,,,,,
20090312431273200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20090312433251036,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20090312455206810,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20090313091715820,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20090313571836404,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0